aside ul {
  list-style-type: none;
  padding: 0;
}

aside li {
  background-color: #fcbf49;
  color: #003049;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.2s ease;
}

aside li:hover {
  background-color: #f77f00;
  color: white;
}
